[Desktop Entry]
Version=1.0
Type=Application
Name=Jupyter Lab
GenericName=Integrated development environment
Comment=Launch Jupyter Lab.
Exec=launch-jupyter
Icon=/usr/share/pixmaps/launch-jupyter.svg
Path=
Categories=Utility;TextEditor;Development;IDE;
Terminal=true
StartupNotify=true
